@import "tailwindcss";
@import "tailwindcss-animated";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-bg-secodary: #f1f5f9cc;
  --color-bg-secodary-dark: #27272a;
  --color-text-secondary: #64748b;
  --color-text-secondary-dark: #a3a3a3;
  --color-border: #e5e5e5;
  --color-border-dark: #27272a;
}

body {
  @apply bg-white dark:bg-black text-[#020817] dark:text-white;
  font-family: "Poppins", sans-serif;
}

.container-principal {
  @apply container mx-auto px-2 md:px-6;
}

.scrollerStyle {
  scrollbar-width: none;
}